{% extends 'base.html' %}
{% block title %}Delete Photo{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Are you sure you want to delete this photo?</h2>
    <img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="img-fluid rounded shadow-sm mb-3">
    <p><strong>{{ photo.title }}</strong></p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'gallery:gallery_home' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
